<header>
    <div class="header-items">    
        <div class="header-items-img">
            <img src="../../../assets/icons/Logo.png" alt="">
        </div>
        <div class="header-items-profile">
            <img src="../../../assets/img/profile.png" alt="">
            <div class="header-items-profile-text">
                <p>Bem vindo,</p>
                <p>Emanuel Moura</p>
            </div>
        </div>
    </div>
    <div class="logout">
        <img src="../../../assets/icons/logout.png" alt="">
    </div>
</header>
